# Code owners for `tako`. See:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Adding more maintainers later is as simple as appending lines here.

* @nyankobu010
